.container {
    width: 50%;
    margin-top: 2%;
}
.country-picker {
    padding: 5px;
    width: 100%;
}
.country-picker-form {
    border: 1px solid black;
    width: 100%;
}
@media screen and (max-width: 770px) {
    .container {
        width: 80%;
    }
}